.transaction-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  .title {
    font-weight: 700;
  }
  .transaction-section {
    width: 90%;
    display: flex;
    gap: var(--spacing-sm);
    p {
      width: 40%;
      text-align: right;
    }
    select {
      width: 60%;
      border: none;
      border-radius: 10px;
      border: 2px solid var(--gray-color);
      text-align: center;
    }
    input {
      width: 60%;
      border: none;
      border-radius: 10px;
      border: 2px solid var(--gray-color);
    }
  }
  .submit-transaction-btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    font-size: var(--font-md);
    padding: var(--spacing-sm);
  }
}
.submit-transaction-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: var(--white-color);
  font-size: var(--font-md);
  padding: var(--spacing-sm);
}
